data/UCF-101/
data/UCF-101-exp/
data/UCF-101-exp2/
data/UCF-101-audio/

outputs

# confidential reaons
train.sh


*.DS_Store
*__pycache__/

*.log
*.hydra/

# Local testings
src/data/processing.py
src/video_testing/*
src/test_audio.py